body , html {
    padding:0; margin:0;
}


/*** WRAPPERS ***/

#carousel {
    overflow: hidden;
}

#carousel_roll {

	display: flex;
	flex-direction: row;
	transition: margin-left 0.5s;
}


/*** ELEMS ***/

.carousel_elem {
	width: 100% ;
	height: 100%;
}

.carousel_elem img {width:100%}


/*** CONTROLS ***/

#carousel_navigation {
    margin-top:-50px;
    display:flex;
    flex-direction:row;
}

.carousel-nav-btn {
    width:50px; height:50px;
    margin:0;
    text-align: center; line-height:50px; cursor:pointer;
    background-color:#ffffff; color:#000000; font-size:20px;
}

.carousel-nav-btn:hover {
    background-color:#cccccc; color:#ffffff;
}